.container-fluid {
    padding: 20px;
  }
  
  .kz-pad-20 {
    padding: 20px;
  }
  
  .kz-btn {
    width: 90%;
    margin: 4px;
  }
  
  .kz-input-text {
    margin-top: 3px;
    width: 96%;
    margin-left: 6px;
  }
  
  .col-xs-3 {
    width: 25%;
    padding: 0 4px;
  }
  
  .col-xs-9 {
    width: 75%;
    padding: 0px;
  }
  
  .col-xs-8 {
    width: 30%;
    padding: 0 4px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .bg-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  #display {
    text-align: right;
  }
  
  #btn7, #btn8, #btn9, #btn4, #btn5, #btn6, #btn1, #btn2, #btn3, #btn0, #btnDecimal {
    background-color: #fff;
  }