/* .panel panel-success {
    border: none;
  }
  
.panel-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.form-inline {
    display: flex;
    gap: 10px;
  }
  
.form-control {
    max-width: 200px;
  } */